header{
   background-color: aqua;
}

table{
   width: 100%;
}

.nav{
   margin-top: 15px; 
   margin-left: 50px;
   margin-bottom: 15px; 
   margin-right: 50px; 
   float: right;
}

.nav a{

   padding: 15px;
   text-decoration: none;
   color:white;
}

.bp h1 { color: brown; 
   text-align: center;
   text-decoration: line-through;
  
}

.bp p { padding-left: 50px;

}
.bp { background-color: aquamarine;

}

.img{float: right; 
   padding-right:60px;
   padding-top: 70px;

}
.img img {width: 300px;
   height: 300px;
   border-radius: 50pc;
   object-fit: fill;
   border: 4px solid pink; 
   
}

.add {background-color: rgb(159, 178, 189); 
   width: 100%;

}

 .hey{padding-left: 50px;
   color: beige;

 }

 .q {text-align: center;

 }

 .q h2 { color: bisque;

 }


 .q a {text-decoration: none; 
   color: azure;
 }

 .social {padding-left: 40px;

 }

 .social h2{color: antiquewhite;} 
 .social a{font-size:30px ;

   
 }

 .social i {padding-left: 10px;padding-right: 10px;
   padding-top: 10px;
    padding-bottom: 10px;
     border: 2px solid rgb(62, 33, 168);
      border-radius: 50pc;}
.main{height: 700px;
background-color: blueviolet;
}
.main h1{ text-align: center; color: blanchedalmond;

}
.form {border: 2px solid rgba(53, 36, 53, 0.11);

}

.form h3 {padding-top: 25px;
   padding-bottom: 10px;
   padding-right: 25px;
   padding-left: 25px;
   font-size:30px;
   color: rgba(69, 159, 201, 0.673)


}

.form label {color: rgb(93, 23, 158);}
.form input{width: 70%;margin-right: 350px;height: 20px;}
.about {border: 3px solid rgb(7, 161, 53);
    margin-bottom: 500px;
     background-color: rgba(179, 151, 186, 0.576); text-align: center;


}

.about h4 h1 {text-align: center;
   color: blue;
}

.about video {width:fit-content;
height: 500px;
border: 2px solid gold;

}